[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Planning Poker
Comment=Planning Poker cards
Type=Application
StartupNotify=false
Categories=Utility
Icon=ppcards_icon_64
Exec=/opt/org.vranki.ppcards/ppcards
X-Osso-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
