[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=ppcards-qml
Exec=/opt/ppcards-qml/bin/ppcards-qml
Icon=ppcards-qml64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
