[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Planning Poker
Comment=Planning Poker cards
Exec=ppcards
Type=Application
StartupNotify=false
Categories=Utility
Icon=ppcards_icon_48
X-Osso-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable

