[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Planning Poker
Type=Application
Icon=/usr/share/icons/hicolor/scalable/apps/ppcards.svg
Exec=/opt/ppcards/bin/ppcards
X-Osso-Type=application/x-executable

