Source: ppcards
Section: user/office
Priority: optional
Maintainer: Ville Ranki <ville.ranki@iki.fi>
Build-Depends: debhelper (>= 5), libqt4-dev (>= 4.7.0)
Standards-Version: 3.7.3

Package: ppcards
XB-Maemo-Display-Name: Planning Poker cards
XSBC-Bugtracker: mailto:ville.ranki@iki.fi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, qt-components
Description: Virtual Planning Poker cards
 Planning Poker is a time estimation method used widely in
 Scrum software development process. This application provides
 virtual cards for playing planning poker.
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c
 6QAAAAZiS0dEAAAAAAAA+UO7fwAAAAlwSFlzAAAXEgAAFxIBZ5/SUgAAAAd0
 SU1FB9oJERAYEW5J3LkAABM5SURBVGiBrZh5dBVVusV/p6rumNzc3BsyT0DC
 kBBABgFRQEBlkEG72wFnRJyV7laxbbTbp762dcnyNc7z3IqiDD5BwQiCQ6JM
 MQwSCAkhhIwkNzd3rqrz/kjIIyIKtHutWuusU7Wr9j7f952hBICUMgXoI6WU
 nBhSCBGRUrYoinKoi5cK5J6IJoToekxGgCZFUQ7/wvtPD1LKFNM05cmi69kj
 Usoxp8GrNU2z/29qwDTNMSetolPIsapP2sFRnmma0jTN+38r/cI0zf5+v3/P
 1q1bkVJK0RX3ozja5/V6KSwsRNO07nvBYFCWlpYKOtNL/PTlAG63m8LCQmw2
 27HvRAiRK4So+U1cfPjhh2MWLFhwyOl0SqD7uvHGG+U999wjhw4d2t2XkZEh
 Fy5cKKWUsr29XT7yyCOG1+vtwZs5c6a899575fjx47v7kpOT5bx5845Np5d+
 E/FHYZrmjOXLl/cQUlFRcTTksx966CFJ50hLQC5duvRodhgVFRU9eO+9997R
 9Lp56dKlUgjRzXv00UeP8j7+LXQrx7S1Y8MMoOv60Wb4jjvuIC4uDtk14yxe
 vBgpJVLKsMVi6cEzDONos3Xq1KkkJCR08xYtWnSUF/mtDfwSXtY0rUceh8Ph
 o80Pf47QJfglq9Xao25M0wRACLH+1OUej5MxIIUQWVLKY0Uzc+ZMgAYhxKs/
 V79CCCGldMViMXlMJJkxYwaAD3jtP9QOnISBo7PLY489RjAYBMBms3HnnXfq
 QogbfoXL6tWrhc/nA8BqtfLcc88jke7X33g9cN1118qVK1dGt27duioQCDxg
 muYZpmnafumdJ4RpmhetXr26RzHOnz9f3nDDDbKgoKC7b86cObK6uvoHKaUX
 IBKJ/q66uroHb9asWfLWW2+Vw4cP7+6bMmWK/LakRJaW/Si/+r5M7thbLWsO
 1pm6acpwOChbmptkff1hWVpSIp999tn6pqamdbFYbMqvDvCxBj799NPl06dP
 7745f/58UlNTaWho2JCRkbH7/vvvX6lpWoUQomrz91vO+GT16oczcnNnnH/u
 eHr37t3NmzVrFkVFReyrOoQuLKTlncmhlgB1h+sIHmnCNAJ4U/vREWjm8J5y
 klIzScnMJj0jjZEjhnDBmEJZu3+n2FuxD8PUycvre9e4cRNe8Xq9vl8yMGvN
 mjUrL7zwwu6bu3btYuDAgQgh0oQQDQCGlM4LZswJZKXYaW0Ly+TkXHH/fTfT
 p0+fbt4777zDnDlzePDdHVjsLqKxCDbNjjTBNEzqD+6lV0oyJnYsdhV/KEzz
 gV00VlcRCgSJS0rmSPVeHlk4i/eXrqBfvzxWrPgouGzZh7lpaWnNxxpQAKSU
 qhBi0gkWU6SUV0opBcA1V1270htnUllVS5MfMXbCmBNxGFeUg5QqVs2BRIAK
 ilUhM38AFmcCjngnqsWBOyGR/MFjGTf7Ks6cNIX09DQmXruAl9f7CVlzWPiX
 RUyffqHz7bfffuen31FM08wFdCnlAimP31Z2LUCLpZQdUkrXJ6s/Hn3etItJ
 6z+Bb9a9y9w5s/kZGoqicN4QN7dPScdi1bDYNBQhiYZDRAJBrFYnmtWKqmmo
 qopQNAwU3Kk5eJLTaNm7lSEjxuLKG0NcXCKLFz+JaZrjdV33HPsdDUjvEoph
 GD1C4Pf7u24JAMeyZR8snDp9quutdz/m9zcu5BheD/GBQKC7bVWi/PPygUhh
 4HJYiYbDuDRBTCropoknycvACZcBCh6Pl7zRM3Cn5BKf3hs9FiMtqw93Pbea
 kjf/RllZmX3fvn2jgM+6B0oI0VBTUyOvuOIK5s6d20PI5MmTmTVrFgcOHEBK
 yb7K/UlHWlpJioeq2kYaGxu5+uqrmThxYg/ebbfdxrRp09ixYwe+5kZyrR3k
 xRskigjpDgW3Dfq4YhS6YiSqBjddMYX/eeRO6nZ9wRt3TeDfCyex8aUH0MOt
 KDYXVruHurpalixZgt1uL+8RASFE1apVq852OBwzZ8+e3XMoAV3X1cbGxh9y
 cnJKRwwbVvDpuk23nD92OEuevov89GdxJvdnYFEr+VmZGAgiuo40TYYMKsDn
 O8KefZVknzOLrRs/I0GTtJkSf9jAKiQuu4pT7yDeYWVr6Td8t/Fz4lweEmUT
 hza/z6tfvkXhedcyePgZ/PFPt7N9+3ZCodAwoO64nD0ZLPtw5UV/uPUJ+fKX
 NXLixIkyLTVV5qUkykyvS+Z4nDItziHT3QkyP9Eh83u55MHKCmnqYXnnTXOl
 pgjp0FTpjbPLDJdNjuxlleOzHXJWUYb852P/kJddfrmcNGG8tGhWaVNU6bJZ
 ZK84h8zNzpbLl30oI5GIefHFFx9XbNrPCT0RmqKJ/eur97P+u0ou+cvrUFPM
 rfOvJzNew2UBV2YyPx5opj4KqfE6l04cw5trv2XTyn+Tn6ASiIKqgtVmJ2qG
 IWqg+o5w2RXXsHHDjWwrLSXZoeJQNQrPuZDeBYO5Zs7FCJeblSW14n9XrQj+
 RwaGFhV+uGDD+4/lT/gDG0t+IDV9MJt2NfH0I3+ifMdumhoPMiAeolYLetTA
 H4mwe9s30BGht1dDSElYmjSGghhCIA2DqOJAUxU2rFnNmKJ+KHFehvz+Xtzx
 DoYMHcChiIXvyvzs+Ho5ffsNrNvz4+4emn5+4v8F9ErqFeo3YrZdVWMk5I8j
 O68fGWnZJNubGdE/leqaBoo3bWPTylewSoNRZ09g47tPku62owoFgQQUdBTC
 divu3FEUnDuHpJQCcMOovl4sDis7amJs2bABR4qHtIw8Nix7kZaaH0rKN288
 67QjAJDXN3+fqRlFUomnblsxDquG227FjHfw7Nsbccc5GDVxGsNGjsHh0HDY
 NC668c9EoyF8LS24PR6ihsQdZyciXATbmogqcXSEDKz2eIo3l5OQMoBoxKDP
 sLFEI37ciZkcqa/mnLFnvle+eWMPPadsoKBwgPhqexVnXn4/FmD/96sRVo3c
 jN4kpWQiMPj4nVdJ6TMY0zBI7luAxWrDd6QFlyseozmGqinoMR8OSweKKon6
 K/E11WFGQnQYGhXfr6NPVjpH6ir5YUsJ27aXk5Gbzbizrjr43JKeek7ZQDAU
 DiVoQRRdEg6302/CxcR8MWweDzaHE1AYnZ7F/On5CN2g8kAVLS1VTL38XDo3
 pp1Za5gmqlABkAIO1tZy7dXXc+3cuQyaMYsnnnqKQUUTuOHGmxg8uA/ri7+R
 LQ3Vr3zwwQeuSy655I2jek72RNaNnN7Zu/3tfiQGwh6HiIKh6CAtaChYkcwa
 m0WveBWP20r55q8ZO2J4F1t0XlKgCgUpJFLoCNMkNyuLktJviLl68/jz7zNj
 9uVcOncOamIq9c1BJk0+S8y7/vrEs8eOfX3e9XNr1q1be/5pRSA9Nb2qru4g
 RrgD6eg860rAkJJ8b5BLzy0AJFKCImDevBswTRNx7HwhACk7A4KgLRSjvDZI
 7qCJ/PPB+wk3V1O6fhU+X4jJl95C1oDhJKQNoKi3lXGFHl5+5dWs2TMuWltR
 sWvAKRvweDz1sViUqL8JqzOxc0ylRI9GCLcHu8SbiK70gM6N3XEQCkJKIsCb
 Xxxmf0M7uUPO5tvl/2LcBVdhc7oo+fwtVrz8dxRVIbf/SG59/CNeW99CprtR
 LPv4Izli8PAfTzmFBg0aVGnRNJrrKhG6DtJEERoxoRD2NQEGCIWu4T0xJCAk
 u/a344toRJurSM4bxrgr/k7emGmMmnk99zy7lsp9P3LB+edRtbuEl/92JRKF
 mjaVzzc3iiVPP3nqNeBwOMITJ00k0NaMiSQc7SASPILUI1iUCCZKV7L88hIj
 BeimZF3ZERRVQdd1dFNimAYZGRlIw6AtECOnTz/WrFlDdnY2dXs28+Wq10Hq
 7K7XGT169KkbKCgo+DYYCJHkFmiaDVMqWOxxhMNhUrwJJ70yCqDFrxPEgkoM
 i6MXelsD/sZa/L4WTCEBK4FwDCklRYMK92b0HRByOxTa20L4I2Eagp2xPiVY
 LJZYVVVV5OD+vUQ7fAgFIqEQMUMSjJldiXNyNlqDOqrQaaquwtB9WF2p2CwK
 cd5UQCC7JoOWlhbS09Nrppw36QOnK4VQOIDAQlWd/9QjADBoUFGlzSKlxW5B
 mhJ7XBy6bnKoKYSCify1/AdA0hbSEaZCxAzjTc5BUaGxpgJ7XBydB1iJqqms
 WLECt8dblZmRvjs1xUVrYx2aRWXVug3ytAzcdfddj+3aVibciYmAQiQcItLR
 zpDCLOg5Yf4iWn1RJFay+xVQuXMLoJLgcmLqAikVzK4Eqa+vZ8q0qWs9ic4m
 Z3wSoSMHkBJKS7adXgSSkpK2KWYEXY+CYWCzO+jw+ZDRIKB0HuB/FQLDkKhE
 aD1chxILYgiJ3WpHlxoIcGoGLpuCz+eTnoTEvVu2775g375q3N5eBPwRXNJf
 d1oGHA6HTZeCpsO1GNEIEkFCUgrffvM9JuZJR0AKBdOIEItF6PC3Y5U6ntS+
 mDKKQDIgwwamwdNPPU3fvjm13+44dKkQFnKGjKJmfwWPPbrojtMyYLVaW6Sp
 47BZUOxOooFW9FgUX0fHKSQQRGI64UgAb6KbQDRE06FK7L3SELqJMFQK8nrx
 5puvEY1GmHP93VuHj5uOrmnIjnYadxc3DOuXufyUV2KAjIyMA33y85r8DTXJ
 whHAEhePzaJSub8egYIpTZSf/mOSwE/6WvwRFGsCzbUVeFL6EgkH0UNt+Hd/
 TIevjne2GwQDEcZP+53oPfqS7MN7t0hvcqp44W/z+WTFW1esW7r49Gqgqakp
 JS05rW7frhLcaTlY4pNQVCuHWmN8+tlaFKHw/1Np1wauW7vs/o8UioBF1ThY
 UU5WwRnU71jLV8ufYdnr/6Ls643s2XOIL7bXk9BnCl+vfVtGYlJs+ujFI4v/
 +555Y0YO/gJOYTMXDodtq1atmnPfffc9Pnz48ORoLMbQ829Es1ix6WECpmDW
 tAs47/zJFK8rJmxNRCZkEY12/jtKcApsgUPogRbGTZiIKQ2aWoPEO60omiA9
 JYXLrruVi6afxRvr69lRsgl7ci+cWzZQ/OZ9OOMcwiuObKveXzb8umuv7Nb1
 qwZeeuml/itXrHp09KgzL7ztltttnxevxdAS2L3/MI/+YzGRUBsy0I7iTKb4
 843o0TCWzJHEtATUxhDm0XFXJJriYVTf3hyqOcCRDh3N7kQqElWzEmg5zOoX
 HqdX4n/xwsKbsVtNOtp8hDtaSM/O4/W330DDzN+145KtZdvLSxc98MC7Gelp
 G9UTCdd13dLc3PzoiuXL31vw5z8W/OXhxdr+dgsvrqnkk9IDVBzSWf3in+k/
 fBr+1sM0Vm4nPjmZWHw23rQ8ROfRF6GCrsewCgtSxqhvCzJuWBYdhp0t5TUo
 ZoRefYcSC3ZQvu0r3nz6YUadeyEuuyQpwYE/6MeUJvEJSaTkDLCdMWZS+tSp
 k0c+/tCDc4sGDznnhFNG79zcmieefDIrqXeReG3NXmKmhhQCgUlbVRnbv3iL
 QOthLrz9RaTdhRHxIUyVFE0ndehopGEihMDvayXB40GaAilNpLCQ646SlBhH
 ye4mNAyE1UFDRRntWHn/4csZPLSQ9cXFfPbZWpYsWUJVvZ9Rk6/h4IE9GGE/
 hiJ4cvFTnD048fgiDgaD1vz8/PDnXxRnb270iOdX7SMqNRQV2hoOUPnVe1ic
 SYydu5g4VyLY4rBZVKSwEZ/gZt/enQghEAiklLjcHkxTomAS7WhHUWLUttko
 qw1itdnRnPFYbVZEnAdVmBh6lGDMisPlpqT0G777tpQ+/Qey/IW7OVBejFDs
 9B06icdfWcZtf33+eAM7d+4cv+ivi2ze5Bx21XagqgJVQnP1Lnolecg/+2oc
 KencNC2HIYUD8FdvZfPyZ2ir/L4z/62gR4JEQh2oigKKQAgFQwgcCR6QKroZ
 JBaKoUcjBNtb2VlSDNEANTu3YkoDgYoRi7D2041k9B+CEWjjrHNnEvAd4fDu
 L/l4ye24bBodzszji9hudxh5+X0xkaiqFST4fU0kJGWiq04QOk6LhZFFfdlT
 20rz108wY8ES9peVEtn2BR2NNeQerMDj7UXTgRpMw0RzuElMz6Ch5kcSElOx
 2hUOV+5B6mG8qb3J6lPA918XY7N1lvzwkSNoau0AVxY3//Ul9EiYRFnDZOMJ
 yte9zaZPl1K5dT39z7uG44r4jjvuUBWFO/vmZsvqFlMkJLrxpmTS1hFACA0h
 JDHDJJlGikaM44ede9i29k2aayswYwEG5OcwYOxsDMWGxRaH3eXBm5RMNNCO
 zelGD/kRmhN3ajrtbS3s3b6JlsNVCFs8JateRI9GScvM5+4/3cKw8TPIHTCc
 +s1v0e+Mc/GFBTkDRjHygitpPlRJ477vjzfwzDPPtMZi+pnjzhnbX3O6ZG1r
 VNg0K4luN6qqENM79zoP/nEeA7McXHvdXHAk0dpYS/We7fy4cxtbPn+fQ3vL
 aDtcicvloXZ/Ob76/dRX76W1qYYD5V9RvbMMacQoHDUZq2qhveEAu7dsBHQi
 0QixUDsL7lpEqqhh6QcfYU8bgs2ZgImJKsDtTaa1sYn/A5FW3rA6oquPAAAA
 AElFTkSuQmCC
 ====
